fastapi
uvicorn[standard]
httpx
python-multipart
pydantic
pydantic-settings
transformers
torch
faster-whisper
chromadb
sarvamai
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langgraph
PyYAML